body {
  background-color: #f9f7fe;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}

a {
  color: #885df1;
}

form {
  display: flex;
}

footer {
  text-align: center;
  font-size: 13px;
}

.container {
  max-width: 600px;
  margin: 130px auto;
  padding: 15px;
}

.form-wrapper {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.hint {
  font-size: 12px;
  margin-top: 7px;
  opacity: 0.5;
}

.instructions {
  width: 70%;
  font-size: 16px;
  padding: 15px;
  color: #000;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
}

.submit-button {
  font-size: 16px;
  color: #fff;
  padding: 15px;
  margin-left: 10px;
  background-color: #885df1;
  border: none;
  border-radius: 50px;
}

.poem {
  font-size: 14px;
  line-height: 2;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #fff;
  border-left: 2px solid #885df1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.poem strong {
  color: #885df1;
}

.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
